*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}
body.dark{
    background: #232c35;
}
.checkbox{
    opacity: 0;
    position: absolute;

}