/* .text-center{
    width: 100%;
    height: 30px;
    max-width: 120px;
} */
.IconTxt{
    display: block;
    position: fixed;
    left: 22px;
    color: black;
}
.txt2 {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    text-decoration: none;
}